body,html{
    background: #464646 url(/message/img/59H-from-gratisography.png) no-repeat center center fixed;
    background-size: cover;
}
.login{
    width: 600px;
    margin: 200px auto;
}

p{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    /*text-shadow: 3px 3px 3px rgb(150,150,150);*/
    color: whitesmoke;
}
.form-control{
    /*box-shadow: 5px 5px 5px rgb(180,180,180);*/
}
button{
    float: right;
    width: 20%;
    /*box-shadow: 5px 5px 5px rgb(180,180,180);*/
}
button span{
    font-size: 18px;
    font-weight: 400;

}